.about:before, .about__desc {
    vertical-align: top;
    border-radius: 4px;
}

.about {
    display: flex;   
}

.about:before {
    display: block;
    content: "";
    width: 488px;
    height: 502px;
    background: url("/img/decor/gates.jpg") center center / cover no-repeat;
}

.about__desc {
    color: black;
    background: url("/img/decor/mountains.jpg") center center / cover no-repeat;
    padding: 67px 97px;
    max-width: 780px;
    min-height: 455px;
    margin-left: -133px;
    margin-top: 107px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 29px;
}

.about__desc-text {
    margin-bottom: 42px;
}

.about__desc-text p {
    line-height: 26px;
    
}
