.btn {
    color: #000;
    cursor: pointer;
}

.btn--color--white {
    display: inline-flex;
    background-color: #ffffff;
    color: #d21d16;
    border-radius: 26px;
    border: 1px solid rgba(245, 23, 14, 0.4);
    padding: 16px 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn--color--white:hover {
    background-color: #f5170e;
    color: #fff;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
    transition-duration: .5s;
}

.btn--color--red {
    display: inline-flex;
    background: #f5170e;
    color: white;
    border-radius: 26px;
    padding: 15px 39px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn--color--red:hover {
    background-color: #da0100;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
    transition-duration: .5s;
}

.btn--color--grey {
    display: inline-flex;
    background: #8d8d8d;
    color: white;
    border-radius: 26px;
    padding: 15px 39px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn--color--grey:hover {
    background:  #2f2f2f;
    transition-duration: .5s;
}

.btn--welcome {
    display: inline-flex;
    margin-top: 45px;
    background: #f5170e;
    color: white;
    border-radius: 26px;
    padding: 15px 56px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn--welcome:hover {
    background-color: #da0100;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
    transition-duration: .5s;
}

