.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background-color: #c7e9e3;;
}

.controls__checkbox {
    display: none;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}