.hero__text-section {
    width: 50%;
    margin-bottom: 247px;    
}

.hero__title {
    font-size: 73px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 22px;
    letter-spacing: -1px;
}

.hero__subtitle {
    font-size: 18px;
    color: white;
    font-style: normal;
    margin-bottom: 39px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 775px;
}