.menu__list {
    display: flex;  
}

.menu__item {
    vertical-align: middle;
    margin-right: 55px;
}

.menu__item--active .menu__link {
    color: #d21b14
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #d21b14;
    transition-duration: .5s;
}