.section-about {
    margin-bottom: 154px;
}

.section__about {
    margin-bottom: 43px;
}

.section-welcome {    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.section {
    margin-bottom: 136px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
}

.section__title--flame:after{
    display:inline-flex;
    content: "";
    height: 27px;
    width: 20px;
    background-image: url(/img/icons/flame.png);
}