.top-line {    
    background: #001821 url("../img/bg/headline.jpg") center top no-repeat;
    min-height: 410px;
    display: flex;
    flex-direction: column;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}
