.wrapper--bg--welcome {
    background: url(../img/bg/screen.jpg) center no-repeat;
    overflow: hidden;
    min-width: 1150px;
    background-size: cover;
}

.welcome {
    background: url(../img/decor/shades.png) center  no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}


.welcome__title {
    font-size: 18px;
}

.welcome__logo {    
    display: block;
    width: 275px;
    height: 112px;    
}
